@charset "UTF-8";

/* ----------------------------------------------------------
  Base
---------------------------------------------------------- */

.vanilla-magnet__item {
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

[data-magnetism="1"] .vanilla-magnet__item {
    -webkit-transition: none;
    transition: none;
}
